@import "tailwindcss";


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
}

@theme {

    /* Primary */
    --color-soft-orange: hsl(35, 77%, 62%);
    --color-soft-red: hsl(5, 85%, 63%);

    /* Neutral */
    --color-off-white: hsl(36, 100%, 99%);
    --color-grayish-blue: hsl(233, 8%, 79%);
    --color-dark-grayish-blue: hsl(236, 13%, 42%);
    --color-very-dark-blue: hsl(240, 100%, 5%);

    /* font-size */
    --text-para: 15px;

    /* weights: 400 (normal), 700(bold), 800(extrabold) */
}

@layer base {
    p {
        @apply text-para text-dark-grayish-blue;
    }

    h2 {
        @apply text-4xl font-bold;
    }

    h3 {
        @apply text-xl font-bold;
    }

    hr {
        @apply text-dark-grayish-blue;
    }

    nav span {
        @apply hover:text-soft-red hover:cursor-pointer
    }
}

@layer components {
    .preview {
        @apply flex gap-6 items-start;
    }
    
    .preview h3 {
        @apply hover:text-soft-red hover:cursor-pointer;
    }
    
    .preview-img {
        @apply md:w-30 w-25 h-full flex-none;
    }
    
    .new h3 {
        @apply hover:cursor-pointer hover:text-soft-orange;
    }
    
    .nav {
        @apply md:text-dark-grayish-blue md:flex-row flex-col md:gap-8 gap-6 text-xl md:items-center items-start;
    }
}